/* BODY */

body {
    margin: 0;
    font-family: Poppins;
    background-color: rgb(55, 179, 179);
    position: relative;
}


body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #46c5c7; 
    z-index: -1;
    clip-path: polygon(0 0, 100% 20%, 100% 100%, 0% 80%);
}


body::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: #5feef5;
    z-index: -1;
    clip-path: polygon(0% 20%, 100% 0, 100% 80%, 0 100%);
}

.container {
    width: 900px;
    margin: auto;
    max-width: 90vw;
    text-align: center;
    padding-top: 10px;
    transition: transform .5s;
}


.container header .logo {
width: 4.5rem;
border-radius: 100%;
filter: drop-shadow(0 0px 30px rgba(0, 0, 0, 0.9)); 
}


svg{
    width: 30px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}
.icon-cart{
    position: relative;
    cursor: pointer;
}
.icon-cart span{
    position: absolute;
    background-color: rgb(243, 232, 24);
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #000000;
    top: 70%;
    right: -10px;
}
.title{
    font-size: xx-large;
    filter: drop-shadow(0 50px 20px rgba(55, 43, 43, 0.6));
    
}

.listProduct .item img{
width: 90%;
filter: drop-shadow(0 50px 20px rgba(55, 43, 43, 0.6));
border-radius: 10%;
}
.listProduct{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.listProduct .item{
    background-color: #a9f0d0;
    padding: 20px;
    border-radius: 20px;
}
.listProduct .item h2{
    font-weight: 500;
    font-size: large;
}
.listProduct .item .price{
    letter-spacing: 7px;
    font-size: small;
}
.listProduct .item button{
    background-color: #353432;
    color: #eee;
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 20px;
    cursor: pointer;
}


/* Carrito */

.cartTab{
    width: 400px;
    background-color: #353432;
    color: #eee;
    position: fixed;
    top: 0;
    right: -400px;
    bottom: 0;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: .5s;

}
body.showCart .cartTab{
    right: 0;
}
body.showCart .container{
    transform: translateX(-250px);
}
.cartTab h1{
    padding: 20px;
    margin: 0;
    font-weight: 300;
}
.cartTab .btn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
   
}
.cartTab button{
    background-color: #E8BC0E;
    border: none;
    font-family: Poppins;
    font-weight: 500;
    cursor: pointer;
}
.cartTab .close{
    background-color: #eee;
}
.listCart .item img{
    width: 100%;
}
.listCart .item{
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}
.listCart .quantity span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #eee;
    border-radius: 50%;
    color: #000000;
    cursor: pointer;
}
.listCart .quantity span:nth-child(2){
    background-color: transparent;
    color: #eee;
    cursor: auto;
}
.listCart .item:nth-child(even){
    background-color: rgba(238, 238, 238, 0.312);
}
.listCart{
    overflow: auto;
}
.listCart::-webkit-scrollbar{
    width: 0;
}
body .footer{
font-size: 2rem;
text-align: center;
padding: 1rem;
margin: 1.5rem;
}

.container-footer{
display: flex;
justify-content: space-evenly;
}

.container-footer .imagen-footer{
width: 6rem;
height: 6rem;
border-radius: 100%;
}


@media only screen and (max-width: 992px) {
    .listProduct{
        grid-template-columns: repeat(3, 1fr);
    }
}

.total{
font-size: 1.5rem;
color: rgb(43, 255, 57);
}

/* CARTELES DE ALERTA */

.alert {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #2c8997; 
  color: #000000; 
  padding: 15px; 
  border-radius: 40px; 
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
  font-family: 'Pacifico', cursive;
  font-size: 20px; 
  text-align: center;
  width: 60%; 
  max-width: 300px; 
}

.alert::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at center, #afd525 0%, #e9da0f 70%);
  z-index: -1;
}



/* mobile */
@media only screen and (max-width: 768px) {
.listProduct{
grid-template-columns: repeat(2, 1fr);
}
    
body .footer{
font-size: 1.2rem;
justify-content: space-between;
font-weight: 600;
}
.container header .logo{
width: 3.5rem;
}

.title{
font-size: 1.2rem;
font-weight: 800;
font-family: 'Courier New', Courier, monospace;
}

.container-footer{
display: flex;
align-items: center;
padding: 1.5rem;
}
}